body {
  background-color: black;
}

#main {
  width: 50%;
  margin-left: 25%;
  margin-top: 10vh;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
  font-style: italic;
}

.imgMotivation {
  width: 100%;
  border: 5px double white;
  border-radius: 4px;
}

h1 {
  margin: 8px;
}

p {
  line-height: 23px;
  margin: 0px;
}
